<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Examen Pp8.1</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="top-bar" id="barratop">
    <div class="top-bar-title">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <span class="menu-icon dark" data-toggle></span>
      </span>
      <h4>EXAMEN FINAL M8-UF5</h4>
      <p>ADRIAN CALVETE
      </p>
    </div>
    <div id="responsive-menu">

      <div class="top-bar-right">

          <a class="alert button" href="#">Home</a>
          <button class="dropdown button secondary" href="#">Page</button>
          <a class="secondary button" href="#">Grid</a>
          <a class="secondary button" href="#">Simple</a>

      </div>
    </div>
  </div>

<div id="ifondo">
<div class="row">
  <div class="small-6 column" id="divtexto">
<h1>We Have Passion</h1>
<h5>For Great Design!<h5>
  <a href="#" class="button">Secondary button</a>
  <a href="#" class="alert button">Primary button</a>


  </div>
  <div class="small-6 column" id="oslider">
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <ul class="orbit-container">
      <img class="orbit-image" src="../img/llibreta.jpg" alt="Llibreta">
      <figcaption class="orbit-caption">Flexible sliding caption. Add your own text here</figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="../img/llibreta.jpg" alt="Llibreta">
      <figcaption class="orbit-caption">Flexible sliding caption. Add your own text here</figcaption>
    </li>
  </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
  </nav>
</div>
  </div>


</div>
</div>
<p>
<div class="row middle">
  <h5>Welcome</h5>
  <p>
    Content on this page is for presentation purpose only. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>
<div class="row">
  <div class="small-4 column columnas">
    <h3>1/3 Column</h3>
    <img class="thumbnail" src="../img/img_buida.png" alt="Imagen vacia">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <a class="rosita" href="#">Read More >></a>
  </div>
  <div class="small-4 column columnas">
    <h3>1/3 Column</h3>
    <img class="thumbnail" src="../img/img_buida.png" alt="Imagen vacia">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  <a class="rosita" href="#">Read More >></a>
  </div>
  <div class="small-4 column columnas">
    <h3>1/3 Column</h3>
    <img class="thumbnail" src="../img/img_buida.png" alt="Imagen vacia">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <a class="rosita" href="#">Read More >></a>
  </div>
</div>
<div class="foot">
  <div class="row">
    <div class="small-3 column columnas">
      <h5>About Company</h5>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>

  <a class="rosita lista" href="#">Terms of Use</a><br>
  <a class="rosita lista" href="#">Privacy Policy</a><br>
  <a class="rosita lista" href="#">FAQ</a><br>
  <a class="rosita lista" href="#">Sitemap</a><br>
</div>

<div class="small-3 column columnas">
      <h5>Recent Blog Post</h5>
      <a class="rosita" href="#">Lorem Ipsum is simply dummy text</a>
      <p>2 hours ago</p>
      <a class="rosita" href="#">Duis mollis, est non commodo luctus</a>
      <p>5 hours ago</p>
      <a class="rosita" href="#">Maecenas sed diam eget risus varius</a>
      <p>19 hours ago</p>
      <a class="rosita" href="#"><h6>VIEW ALL POST</h6></a>
    </div>
    <div class="small-3 column columnas">
      <h5>Sample Footer Content</h5>
      <p>
        Lorem Ipsum is text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <p>
        Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt.
      </p>
    </div>
    <div class="small-3 column columnas">
      <h5>Get in Touch</h5>
      <i class="fa fa-phone">Phone:</i>

    </div>

  </div>
</div>








  <script src="js/bundle.js"></script>
</body>

</html>
